body {
  background-color: #A8E6CF;
}
h1 {
  color:#F0F0F0
  text-align: center;
}
p {
  color: #A0A0A0;
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 25%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: hsl(0, 0%, 10%);
}
.navbar li {
  float: left;
}
.box {
  border: 2px solid:
  padding: 25px;
  height: auto;
  width: 50%;
  float: left;
  text-align: center;
  max-height: 75%;
}
